.props_details{
	color: black;
	/* border: 2px solid black; */
	width: 35%;
	margin: 20px 0;
	border-radius: 15px;
	padding: 10px 0;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.props_details h3{
	text-align: center;
}
.props_details p{
	padding: 0 6%;
}
.product_image_div{
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
	position: relative;
}

.fav{
	position: absolute;
	font-size: 28px;
	right: 30px;
	cursor: pointer;
}
.cart{
	position: absolute;
	font-size: 28px;
	right: 30px;
	top: 50px;
	cursor: pointer;
}
.buying{
	height: fit-content;
	width: fit-content;
	padding: 1% 20px;
	border: 2px solid black;
	margin: 10px auto;
	border-radius: 15px;
	cursor: pointer;
	background-color: white;
}
.buying h3{
	color:black;
}
.buying:hover h3{
	color:white;
}
.buying:hover{
	background-color: black;
	border: none;
}