.inner{
	width: 90%;
	height: 60svh;
	/* background-color: white; */
	margin: auto;
	/* border: 2px solid black; */
	text-align: center;
	align-content: center;
	gap: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 1% 0;
	/* border: 2px solid black; */
	/* padding: 100px; */
	background-color: white;
}
.inner h1{
	color: black;
}
.slick-prev:before, .slick-next:before {
    color: #333;
	z-index: 3;
  }

  .slick-prev:hover:before, .slick-next:hover:before {
    color: black;
	z-index: 3;
  }
.outer{
	margin-top: 20px;
	/* background-color: black; */
}
h2{
	color: black;
}
.main-class{
	overflow: hidden;
	background-color:rgb(224, 239, 239);
}
.product_nav{
	padding: 10px 6%;
	display: flex;justify-content: space-between;
}
.search_icon{
	font-size: 20px;

}
.search_div{
	align-content: center;
	/* background-color: black; */
	border: 2px solid black;
	border-radius: 15px;
	padding: 6px 15px;
	background-color: black;
	color: white;
}
::placeholder{
	color: white;
}
.search_div input{
	outline: none;
	border: none;
	background-color: black;
	color: white;
}
.props_outer_div{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.right_part{
	display: flex;
	align-items: center;
	gap: 25px;
}
.sort_btn{
	padding: 5px 15px;
	border-radius: 10px;
	background-color: black;
	color: white;
	opacity: .9;
	cursor: pointer;
}