.footer{
	background-color: black;
	width: 100%;
	height: 45svh;
	padding-top: 10px;
}
.footer .social_media_icons{
	margin: 20px 40px;
	font-size: 24px;
	cursor: pointer;
}
hr{
	width: 50%;
	margin: auto;
}

.icons{
	width: fit-content;
	height: fit-content;
	margin: auto;
}
.footer_logo{
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.footer_logo img{
	margin-top: 20px;
	border-radius: 50%;
}
.logo_hr{
	width: 30%;
}
.hr1{
	border-color: #18D2CC;
}
.hr2{
	border-color: #4974CC;
}
.copy-right{
	text-align: center;
	font-size: 14px;
}
.copy-right p{
	display: inline-block;
	color: white;
	margin: 0 10px;
	line-height: 30px;
}
.copy-right p:hover{
	cursor: pointer;
	text-decoration: underline;
}
